* {
    background-color: rgba(234, 243, 243, 0.986);
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    min-width: 400px;
    min-height: 400px;
}

h1 {
    text-align: center;
    font-size: x-large;
    background-color: #b7b7b7;
}

.container {
    height: calc(100% - 150px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 30px;
}

.sameLine {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    align-items: end;
}

#usageDataDiv {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#tableDiv{
    max-height: 300px;
    overflow: auto;
}

table {
    width: calc(100% - 20px);
}

table,
th,
td {
    padding: 5px;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

.admin {
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 150px;
    position: absolute;
    bottom: 10px;
    width: calc(100% - 35px);
    background-color: dimgrey;
    align-items:flex-start;
    padding: 10px;
}

button {
    background-color: white;
    border-radius : 5px;
}

textarea {
    border-radius: 5px;
    resize: none;
    padding: 10px;
    width: calc(100% - 25px);
    height: 80px;
    font-family: 'Courier New', Courier, monospace;
}